# 빌드 산출물 / 패키징 결과
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
*.pak
*.ucas
*.utoc

# 패키징 출력 폴더 (바탕화면 빌드가 프로젝트 안에 있다면)
Windows/
WindowsNoEditor/

# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb